:root {
  font-size: 18px;
  background-color: #111111;
  color: #DDDDDD;
  font-family: 'Open Sans';
  padding: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  color: #AAAAAA;
  font-weight: 400;
}

a {
  color: #0074D9;
}

h1 {
  text-align: center;
  padding: 1rem;
}

.wrapper {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

section {
  max-width: 500px;
  padding: 1rem;
}

.technologies {
  color: #AAAAAA;
  font-style: italic;
}

summary {
  color: #0074D9;
}